
<app-header></app-header>
<div class='container'>
  <h1>Lista de Clientes</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Agencia</th>
        <th scope="col">Conta</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.nome |uppercase}}</th>
        <td>{{cliente.agencia}}</td>
        <td>{{cliente.conta}}</td>
        <td>{{cliente.data |date: 'dd/MM/yyyy'}}</td>
        <td>{{cliente.email}}</td>
       
      </tr>
    </tbody>
  </table>
</div>
