*{
  text-decoration: none;

}
.nav
{
  background-color: #15274d;
}


.nav1 a{
  font-size: 1.2rem;

}
ul li a{
  cursor: pointer;
  text-decoration: none;
  color:#fff;
  font-size: 1rem;
}

ul li a:hover{
font-size: 1.2rem;
color: #fa9746;
}

.color1:hover{
color:#fa9746;
transform: scale(1.1);
}
