<app-header></app-header>
<h2 class='ola'>Olá, <span>{{resultado?.nome |titlecase}}</span>!</h2>
<!-- <a (click)="logout()" class="btn btn-danger">Sair</a> -->

<main>
  <section class="section">
    <h3 class="mb-0">SALDO ATUAL:</h3>
    <h2 class="saldo">{{resultado?.saldo |currency:'BRL'}}</h2>
    <div class="container-saldo">
      <div class="receitas">
        <h3 class="mb-0">RECEITAS</h3>
        <h4 class="text-success">{{300|currency:"BRL"}}</h4>
      </div>
      <div class="despesas">
        <h3 class="mb-0">DESPESAS</h3>
        <h4 class="text-danger">{{300|currency:"BRL"}}</h4>
      </div>
    </div>
  </section>

  <!-- <button class='btn btn-primary' (click)="mostraModal()">Nova Transação</button> -->

  <div class='container'>
    <h2 class="minhas-transacoes">Extrato</h2>
    <table class="table table-hover border-collpse">
      <thead>
        <tr>
          <th>Movimentação</th>
          <th>Conta de origem</th>
          <th>Conta de destino</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let transferencia of transferencias'>
          <td class="text-danger">-</td>
          <td>{{transferencia.contaOrigem}}  </td>
          <td>{{transferencia.contaDestino}}</td>
          <td>{{transferencia.valor |currency:"BRL"}}</td>
        </tr>
        <tr *ngFor='let i of conta '>
          <td class="text-success">+</td>
          <td>{{i.contaOrigem}}</td>
          <td>{{i.contaDestino}}</td>
          <td>{{i.valor}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
