<app-header></app-header>
<h1>Olá, {{resultado?.nome |titlecase}}!</h1>
<!-- <a (click)="logout()" class="btn btn-danger">Sair</a> -->

<div>
  <p>Saldo:{{transferencia.saldo |currency:'BRL'}}</p>
</div>

<!-- <button class='btn btn-primary' (click)="mostraModal()">Nova Transação</button> -->

<div class='container'>
  <h1>Extrato</h1>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>conta</th>
        <th>valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let transferencia of transferencias'>
        <td>{{transferencia.id}}</td>
        <td>{{transferencia.conta}}</td>
        <td>{{transferencia.valor}}</td>

      </tr>
    </tbody>
  </table>
</div>


<!-- <div class='container mt-4' name='modal' *ngIf="modal">
  <div class='row'>
    <div class='col d-flex justify-content-center'>
      <form (ngSubmit)='onSubmit()' [formGroup]="form" class='form-group w-50 p-5' style="border: 1px solid; border-radius: 10px;">
        <h1>Nova Transferencia</h1>
        <label class='form-label'>Conta</label>
        <input  formControlName='conta' type="text" class='form-control' name='conta'>
        <label class='form-label mt-3'>Valor</label>
        <input formControlName='valor' type="number" class='form-control' name='valor' >
        <label class="form-label mt-3">Senha</label>
        <input formControlName='senha' type="password" class='form-control' name='senha'>
        <button class='btn btn-sm btn-primary mt-3' type='submit'>Salvar</button>
      </form>
    </div>
  </div>
</div> -->

