h1,
h2,
h3,
h5 {
  color: #15274d;
  font-weight: 500;
}

h2.ola {
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: #15274d;
}

span {
  color: #fa9746;
  font-weight: 500;
}

h2.saldo {
  font-size: 1.5rem;
  color: #fa9746;
}

h4 {
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 3rem;
}

.section {
  width: 20%;
  display: flow-root;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.container-saldo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  padding: 1rem;
  box-shadow: 2px 2px 5px #b1bfc9, -2px 2px 5px #b1bfc9;
}

.receitas {
  padding-right: 30px;
  border-right: 1px solid #dedede;
}

h2.minhas-transacoes {
  margin-left: 16.3rem;
}

table {
  width: 60%;
  color: #15274d;
  border-collapse: separate;
  border: 1px solid #ccdee9;
  border: 1px solid #fa9746;
  border-radius: 6px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: #ccdee9;
  background-color: #fa9746;
  border-radius: 30px;
}

td:first-child,
th:first-child {
  border-left: none;
}

@media screen and (max-width: 1024px) {
  .section {
    width: 25%;
  }
  .receitas {
    padding-right: 22px;
  }
  h2.minhas-transacoes {
    margin-left: 11.8rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 35%;
  }
  h2.minhas-transacoes {
    margin-left: 8.8rem;
  }
  table {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .section {
    width: 60%;
  }
  h2.ola {
    top: 6.5rem;
  }
  .section {
    margin-top: 3rem;
  }
  h2.minhas-transacoes {
    margin-left: 10.5rem;
  }
  table {
    width: 95%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media screen and (max-width: 375px) {
  .section {
    width: 60%;
  }
  .receitas {
    padding-right: 13px;
  }
  h2.minhas-transacoes {
    margin-left: 9.2rem;
  }
}

@media screen and (max-width: 320px) {
  .section {
    width: 70%;
  }
  h2.minhas-transacoes {
    margin-left: 7.4rem;
  }
}
