<main class="main">

  <img src="../../../assets/img/login_image.jpg">

  <section class="section-form">
    <h1>Login</h1>
    <h3>Digite seu login e senha</h3>
    <form [formGroup]="registerForm">
      <div class="div-form">
        <input type="email" formControlName="email" placeholder='Digite seu email' required>

        <input type="password" class="" formControlName="password" placeholder="Digite sua senha" required>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn1">Entrar</button>
      </div>

    </form>
  </section>
</main>
