<main class="main">
  <img src="../../../assets/img/login_image.jpg">
  <section class="section-form">
    <div class="section-form-logo"> <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
        class="bi bi-bank2 me-2" viewBox="0 0 16 16">
        <path
          d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
      </svg>
      SoulBank</div>
    <h1 class="pt-4">Login</h1>
    <h3>Digite seu login e senha</h3>
    <form [formGroup]="registerForm">
      <div class="div-form">
        <input type="email" class="mb-4" formControlName="email" placeholder='Digite seu email' required>

        <input type="password" class="mt-2" formControlName="password" placeholder="Digite sua senha" required>
        <div class="form-text">
          Você ainda não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
        </div>
        <span class="error text-danger text-center mb-4">{{errorMessage}}</span>
        <span class="success">{{successMessage}}</span>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn1">Entrar</button>
      </div>
    </form>
  </section>
</main>
