<main class='main'>
  <section class='section-form'>

    <h1 class="py-2">Novo Cliente</h1>
    <form (ngSubmit)='onSubmit()' [formGroup]="form">

      <div class="div-form">


        <input formControlName='nome' type="text" name='nome' placeholder='Digite seu nome completo'>
        <div *ngIf="!form.controls['nome'].pristine && form.controls['nome'].errors">
          <p *ngIf="form.controls['nome'].hasError('required')" class="text-danger">
            Nome é obrigatório.
          </p>
          <p *ngIf="form.controls['nome'].hasError('minlength')" class="text-danger">
            Nome deve ter no mínimo 3 caracters.
          </p>
          <p *ngIf="form.controls['nome'].hasError('maxlength')" class="text-danger">
            Nome deve ter no máximo 100 caracteres.
          </p>
        </div>


        <input formControlName='data' type="date" name='data'>
        <div *ngIf="!form.controls['data'].pristine && form.controls['data'].errors">
          <p *ngIf="form.controls['data'].hasError('required')" class="text-danger text-center">
            Data de Nascimento é obrigatória.
          </p>
          <p *ngIf="form.controls['data'].hasError('menorDeIdade')" class="text-danger text-center">
            Você precisa ter mais de 18 anos para cadastrar-se.
          </p>
        </div>


        <input formControlName='email' type="email" name='email' placeholder='Digite seu email'>
        <div>
          <div *ngIf="!form.controls['email'].pristine && form.controls['email'].errors">
            <p *ngIf="form.controls['email'].hasError('email')" class="text-danger">
              Digite um e-mail válido.
            </p>
          </div>
        </div>


        <input formControlName='senha' type="password" name='senha' placeholder='Digite sua senha'>
        <div *ngIf="!form.controls['senha'].pristine && form.controls['senha'].errors">
          <p *ngIf="form.controls['senha'].hasError('required')" class="text-danger">
            Senha é obrigatória.
          </p>
          <p *ngIf="form.controls['senha'].hasError('minlength')" class="text-danger">
            Senha deve ter no mínimo 6 caracters.
          </p>
          <p *ngIf="form.controls['senha'].hasError('maxlength')" class="text-danger">
            Senha deve ter no máximo 12 caracters.
          </p>
        </div>


        <select name='agencia' formControlName='agencia' id='agencia' required>
          <option value="" disabled selected>Selecione uma agência bancária</option>
          <option value='2525'>Nordeste - 2525</option>
          <option value='1212'>Sul - 1212</option>
          <option value='5858'>Sudeste - 5858</option>
          <option value='7171'>Norte - 7171</option>
          <option value='8585'>Centro-Oeste - 8585</option>
        </select>
        <button [disabled]="!form.valid" class='btn btn1' type='submit'>Cadastrar</button>
      </div>
    </form>
  </section>
  <img src="../../../assets/img/image4.jpg">
</main>
